<!DOCTYPE html>
<html lang="en">
   {{>headerlink}}
  <body>
     {{>nav}}
       <section class="h-[85vh] bg-[#171b2f] text-white">
      <div class="w-[80%] m-auto gap-6 mt-[70px] pt-20 flex justify-center items-center flex-col">
      <h1 class="text-5xl">{{errorMsg}}</h1>
      <a href="/">Go Back</a>
      </div>
     </section>

   {{>footer}}
  </body>
</html>