<!DOCTYPE html>
<html lang="en">
 {{>headerlink}}
  <body>
   {{>nav}}

    <section class="h-[85vh] bg-[#171b2f] text-white">
      <div class="w-[80%] m-auto gap-6 mt-[70px] pt-20 flex justify-between items-center ">
      <div class="w-[50%]">
        <h1 class="text-2xl mb-5">Left Home</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque voluptate pariatur enim nam quis nobis ratione, dicta numquam accusantium. Doloribus repellendus corporis aliquid eos rem ipsa. Fugit deserunt itaque quo!</p>
      </div>
      <div class="w-[50%]">
        <h1 class="text-2xl mb-5">Right Home</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui labore quam laboriosam enim quibusdam deleniti alias voluptates optio necessitatibus fugiat voluptate, eius unde architecto incidunt explicabo cupiditate voluptas tempora aperiam!</p>
      </div>
      </div>
    </section>
     {{>footer}}
  </body>
</html>