<!DOCTYPE html>
<html lang="en">
   {{>headerlink}}
  <body>
    {{>nav}}
    <section class="h-[85vh] bg-[#171b2f] text-white">
      <div class="w-[80%] m-auto gap-6 mt-[70px] pt-20 flex justify-between items-center flex-col">
       
	   <form  class="w-[70%] m-auto flex">
		<input type="text" name="" id="cityName" placeholder="Enter your city name" autocomplete="off" class="p-4 w-[80%] outline-none placeholder:text-black text-black">
		<button type="submit" id="submitBtn" class="w-[20%] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Search</button>
	   </form>

        <div class="w-[400px] p-5 bg-white rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 mt-5">
            <div class="px-5 pb-5">
              <div class="flex justify-between">
                 <p id="day">sunday</p>
                 <p id="today_data">13 oct</p>
              </div>
                
                <div>
                   <p id="city_name" class="my-10 text-center text-xl">Get Output Here</p>
                   <div class="data_hide flex justify-between"> 
                    <p id="temp" class="text-3xl font-bold text-gray-900 dark:text-white"> 
                      <span id="temp_real">0</span> <sup>o</sup>C </p>
        			      <p id="temp_status" class="text-5xl"> <i class="fa fa-cloud"></i> </p>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </section>
   {{>footer}}

   <script src="js/main.js"></script>
  </body>
</html>